  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    text-align: center;
}

#btn btn-primary m-2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
}
/* @media (max-width: 768px) {
  .container {
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
  }

  #button {
    width: 100%;
    margin: 0 auto;
  }
}

 /* Medium devices (desktops, 992px and up) */
 /*@media (min-width: 992px) {
  .container {
    padding: 10px;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1;
    grid-template-rows: 1fr 1fr ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
    background-color: blueviolet;
  }
  .resultat {
   

  }
  }
 /* Large devices (large desktops, 1200px and up) */
 /*@media (max-width: 1200px) {
  #button {
    width: 300%;
    margin: 0 auto;
  }
  } */