  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    text-align: center;
}
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
  }

  #button {
    width: 100%;
    margin: 0 auto;
  }
}

 /* Medium devices (desktops, 992px and up) */
 @media (min-width: 992px) { }
 /* Large devices (large desktops, 1200px and up) */
 @media (max-width: 1200px) { }